node_modules
*.min.js
*.map
*.snap
dts
coverage
jest.config.*
dbschema
build
dist

# Build folders
coverage/
build/
cjs/
dts/
esm/
mjs/
umd/
lib

# website
!apps/website/app/lib

.eslintrc.js

next-env.d.ts
vite-env.d.ts

*timestamp*

# graphql codegen
fragment-masking.ts
libs/generated/src/graphql/admin/index.ts
libs/generated/src/graphql/orchestrator/index.ts
